.email-quill .ql-toolbar {
  display: none;
}

.email-quill .ql-container {
  border: none !important;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
}

.email-quill .ql-editor {
  font-size: 12px;
  min-height: 100%;
  padding: 0rem;
  font-family: inherit;
  font-size: inherit;
}

.email-quill .ql-editor .ql-size-12px {
  font-size: 12px;
}

.email-quill .ql-editor .ql-size-14px {
  font-size: 14px;
}

.email-quill .ql-editor .ql-size-16px {
  font-size: 16px;
}

.email-quill .ql-editor .ql-size-18px {
  font-size: 18px;
}

.email-quill .ql-editor .ql-size-20px {
  font-size: 20px;
}

.email-quill .ql-editor .ql-size-24px {
  font-size: 24px;
}

